<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.grabyou.mapper.BlackListMapper">
  <insert id="insertBlackRecord" useGeneratedKeys="true" keyProperty="id" parameterType="org.study.grabyou.entity.BlackRecord">
        INSERT INTO black_list (username, dimension, `type`, `value`, `time`, reason) VALUES
              (#{username},
              #{dimension},
              #{type},
              #{value},
              #{time},
              #{reason})
    </insert>
</mapper>
